.head-text {
  width: 80%;
  height: 120px;
  float: left;
  margin-top: 170px;
  padding-right: 20%;
  font-size: 12px;
  border-bottom: 1px solid #eeeeee;
}
@media(max-width:400px){
  .head-text {
   height: 60px;
}
}

.head-text1-li {
  height: 10%;
  float: left;
}
.angle-bracket {
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: 100%;
  float: left;
}

.head-text2 {
  width: 100%;
  height: 80%;
  clear: both;
  text-align: left;
  font-size: 30px;
  padding-top: 50px;
  letter-spacing: 10px;
}
@media(max-width:400px){
 .head-text2 {
   height: 70px;
   font-size: 16px;
   padding-top: 20px;
   height: auto;
   letter-spacing: 3px;
   }
 }
