li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
   top:0;
   left:0;
  z-index: 3;
}

.intro {
  width: 100%;
  height: 30px;
  background-color: #B81B25;
  color: #ffffff;
  float: left;
}

.intro p {
  padding-left: 9%;
  font-size: 12px;
  font-weight: bold;
  line-height: 2.5;
}
@media(max-width:1080px) {
  .intro p {
    padding-left: 2%; 
  }
}

nav {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  float: left;
  border-bottom: 1px solid #F0F0F0;
}

.title {
  margin-left: 9%;
  width: 25%;
  height: 70px;
  float: left;
}

@media(max-width:1080px) {
  .title {
    margin-left: 2%;  
    width: 32%;
  }
}

.title img {
  width: 30%;
  float:left;
  height: 100%;
}

.red-font {
  color: #E10314;
}

.title-h1 {
  font-size: 18px;
  font-weight: bold;
  color: #6D6E6D;
  float: left;
  width: 70%;
  height: 100%;
  line-height: 3;
}

@media(max-width:900px) {
  .title-h1 {
    font-size: 15px;
  }
}
.menu {
  margin-right: 9%;
  width: 57%;
  height: 70px;
  float: right;
}
@media(max-width:1080px) {
  .menu {
    margin-right: 2%;  
    width: 64%;
  }
}

@media(max-width:700px) {
  .menu {
    display: none;
  }
}

.menu li {
  width: 18%;
  height: 40px;
  float: left;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  margin-right: 1%;
  margin-left: 1%;
  color: #666666;
  line-height: 2;
  margin-top: 20px;
}

@media(max-width:900px) {
  .menu li {
    font-size: 8px;
  }
}

footer {
  width: 100%;
  height: 530px;
  float: left;
  background-color: #363B47;
  margin-top: 50px;
}
.footer-wapper {
  width: 82%;
  height: 100%;
  margin-left: 9%;
  margin-right: 9%;
}

@media(max-width:1080px) {
  .footer-wapper {
    width: 96%;
    margin-left: 2%; 
    margin-right: 2%; 
  }
}

.footer-top-contents {
  width: 80%;
  height: 130px;
  margin-left: 10%;
  float: left;
  margin-top: 50px;
  background-color: #ffffff;
}

@media(max-width:700px) {
   .footer-top-contents {
    width: 100%;
    margin-left: 0;
}
}


.footer-top-contents-top {
  width: 100%;
  height: 100px; 
  float: left;
  text-align: center;
  font-size: 30px;
  color: #DB0F21;
  font-weight: bold;
}

@media(max-width:1080px) {
  .footer-top-contents-top {
    font-size: 25px; 
  }
}
.footer-top-contents-bottom {
  width: 95%;
  height: 30px;
  margin-right: 5%;
  float: left;
  text-align: right;
  font-weight: bold;
}

.footer-middle-contents {
  width: 80%;
  height: 250px;
  float: left;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

@media(max-width:700px) {
   .footer-middle-contents {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
}
.footer-middle-contents ul {
  width: 25%;
  height: 100%;
  float:left;
}
.footer-middle-contents-li {
  width: 100%;
  height: 35px;
  font-size: 13px;
  color: #7C88A3;
}
.footer-middle-contents-header {
  width: 100%;
  height: 37px;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}
.footer-bottom-contents {
  width: 80%;
  height: 25px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  border-top: 1px solid #7C88A3;
  float: left;
}

@media(max-width:700px) {
   .footer-bottom-contents {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
}
.footer-bottom-contents li {
  float: left;
  width: 20%;
  height: 100%;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

a {
text-decoration: none;
color: #000000;

}
