li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.top {
  width: 100%;
  height: 450px;
  background-color: #EEEEEE;
  float: left;
}
@media(max-width:550px) {
  .top {
    display: none;
  }
}
.top-article {
  margin-top: 120px;
  width: 82%;
  height: 230px;
  margin-left: 9%;
  margin-right: 9%;
  float: left;
  background-color: #ffffff;
}

@media(max-width:1080px) {
  .top-article {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;    
  }
}

@media(max-width:550px) {
  .top-article {
    display: none;
  }
}

.top-article-image {
  width: 30%;
  height: 230px;
  overflow: hidden;
  background-color: gray;
  float:left;
}
@media(max-width:1080px) {
  .top-article-image {
   width: 30%; 
   height: auto;
   float: left;
   overflow: hidden;
  }
}

.top-article img {
  float:left;
  width: width: 100%;
  height: 230px;

}
@media(max-width:1080px) {
  .top-article-image img {
   width: 100%; 
   height: 230px;
   float: left;
  }
}
.top-section {
  width: 65%;
  height: 100%;
  float:left;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.top-section-box1 {
  width: 100%;
  height: 30px;
  padding-top: 30px; 
  float: left;
}
@media(max-width:820px) {
  .top-section-box1  {
  padding-top: 20px; 
  height: 40px;     
  }
}
.top-section-box1 h2 {
  font-size: 18px;
  color: #444444;
}

@media(max-width:1080px) {
  .top-section-box1 h2 {
    font-size: 15px;   
  }
}


.top-section-box2 {
   width: 100%;
  height: 50px; 
  float: left;
}

.top-section-box2 p {
  font-size: 13px;
}

@media(max-width:1080px) {
  .top-section-box2 p {
    font-size: 11px;   
  }
}

.top-section-box3 {
   width: 100%;
  height: 30px; 
  float: left;
  font-size: 12px;
}

.top-section-box3 img {
  width: 8%;
}

.top-section-box3-left {
  width: 70%;
  height: 100%;
  float:left;
}

.top-section-box3-right {
  width: 30%;
  height: 100%;
  float:left;
  text-align: right;
}
.top-section-box4 {
  width: 100%;
  height: 50px; 
  float: left;
  font-size: 18px;
}

@media(max-width:660px) {
  .top-section-box4 {
    font-size: 15px;   
  }
}
.top-section-box4 span {
  font-size: 25px;
  font-weight: bold;
  color: #444444;
}
@media(max-width:660px) {
  .top-section-box4 span {
    font-size: 20px;   
  }
}


.top-section-box4-left {
  width: 70%;
  height: 100%;
  float:left;
}
.top-section-box4-right {
  width: 30%;
  height: 100%;
  float:left;
  text-align: right;
}


.top-section-box5 {
   width: 100%;
  height: 30px; 
  float: left;
  position: relative;

}

.bar-big {
  height: 20px;
  position: absolute;
   top: 0;
   left: 0;
   border-radius: 10px;
   -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.top-bottom {
  text-align: center;
  line-height: 5;
}

@media(max-width:1080px) {
  .top-bottom {
    font-size: 15px;   
  }
}
@media(max-width:770px) {
  .top-bottom {
    font-size: 11px;
    line-height: 8;   
  }
}

#wapper {
  width: 82%;
  margin-left: 9%;
  margin-right: 9%;
  height: 1355px;
}

@media(max-width:1080px) {
  #wapper {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;    
  }
}

@media(max-width:770px) {
  #wapper {
 height: 200%;   
  }
}

.projectA {
  width: 100%;
  height: 180px;
  margin-top: 40px;
  margin-bottom: 35px;
  float:left;
  box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

@media(max-width:770px) {
  .projectA {
   width: 100%; 
   height: auto;
  }
}
@media(max-width:550px) {
  .projectA {
  margin-top: 120px;
  height: auto;
  }
}

.projectA-contents {
   width: 31.3%;
   height: 100%;
   float: left;
}

@media(max-width:770px) {
  .projectA-contents {
   width: 47%; 
   height: auto;
  }
}
@media(max-width:550px) {
  .projectA-contents {
   width: 100%; 
  }
}

.projectA-contents-margin {
  margin-left: 3%;
  margin-right: 3%;
}
@media(max-width:770px) {
  .projectA-contents-margin {
  margin-left: 3%;
  margin-right: 0;  
  }
}
@media(max-width:550px) {
  .projectA-contents-margin {
  margin-left: 0;
  margin-right: 0;  
  }
}

.projectA-article-header {
  width: 100%;
  height: 50px;
  float: left;
}

.pink-icon {
  color: #FF4956;
}
.projectA-article-header-left {
  width: 70%;
  height:100%;
  float: left;
  font-weight: bold;
  color: #444444;
}

.projectA-article-header-right {
  width: 30%;
  height:100%;
  float: left;
  text-align: right;
  color: #FF881A;
  font-size: 13px;
}
.projectA-article {
  width: 100%;
  height: 130px;
  float: left;
  border: 1px solid #EBEBEB;
}

.projectA-article img {
  height: 100%;
  float:left;
}
.projectA-article-img {
  width: 40%;
  height: 100%;
  background-color: gray;
  float:left;
  overflow: hidden;
}

.projectA-section {
  width: 50%;
  height: 120px;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.projectA-article-header-right-box1 {
  width: 100%;
  height: 40px;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #FF881A;
}
.projectA-article-header-right-box2 {
  width: 100%;
  height: 70px;
  float: left;
  font-size: 12px;
}

.projectB {
  width: 100%;
  height: 420px;
  float: left;
}

@media(max-width:700px) {
   .projectB {
    height: auto;
 }
}

.projectB-header {
  width: 100%;
  height: 50px;
  float: left;
}

.projectB-contents {
   width: 22%;
   height: 370px;
   float: left;
   border: 1px solid #EBEBEB;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

@media(max-width:700px) {
   .projectB-contents {
    width: 29%;
  }
}

@media(max-width:550px) {
   .projectB-contents {
    width: 46%;
  }
}

.margin4 {
  margin-right: 4%;
}

.projectB-contents img {
   width: 100%;
   float:left;
}

.projectB-section {
  width: 90%;
  height: 200px;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}

.projectB-section-box1 {
  width: 100%;
  height: 40px;
  float: left;
  color: #FF881A;
  padding-top: 20px;
}

.projectB-section-box1 h2 {
   font-size: 13px;
   font-weight: bold;
}

.projectB-section-box2 {
  width: 100%;
  height: 35px;
  float: left; 
  font-size: 12px;
  padding-top: 20px;
}
.projectB-section-box2 img {
  width: 10%;
  float: left;
}
.projectB-section-box3 {
  width: 100%;
  height: 15px;
  float: left;
  font-size: 12px;
}

.projectB-section-box3-left {
  width: 50%;
  height: 100%;
  float: left;
}
.projectB-section-box3-right {
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
}

.projectB-section-box4 {
  width: 100%;
  height: 40px;
  float: left;
  font-size: 16px;
  font-weight: bold;
}

.projectB-section-box4-left {
  width: 70%;
  height: 100%;
  float: left;
}
.projectB-section-box4-right {
  width: 30%;
  height: 100%;
  float: left;
  text-align: right;
}
.projectB-section-box5 {
  width: 100%;
  height: 30px;
  position: relative;
  float: left;
}

.bar-small {
  height: 20px;
  position: absolute;
   top: 0;
   left: 0;
   border-radius: 10px;
   -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.more {
  width: 100%;
  height: 150px;
  float: left; 
}

.more p {
  width: 25%;
  height: 50px;
  float: left;
  border: 1px solid #EBEBEB; 
  text-align: center;
  margin-left: 37.5%;
  margin-top: 50px;
  line-height: 3;
}

.news {
  width: 100%;
  height: 150px;
  float: left;
  font-size: 12px;
}
@media(max-width:880px) {
 .news {
   width: 100%;  
   height: auto;
 } 
}
.news-section {
  width: 48%;
  height: 100%;
  float: left; 
  border: 1px solid #EBEBEB; 
  box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
  line-height: 3;
  margin-left: 1%;
}
@media(max-width:880px) {
 .news-section {
   width: 100%;
  }
}

.margin2 {
  margin-right: 2%;
} 

.news-section li {
  width: 95%;
  height: 37.5px;
  border-top: 1px solid #EBEBEB;
  padding-left: 5%;   
}

.news-section-header {
  background-color: #EBEBEB;
}

.back-gray {
  width: 10%;
  height: 30px;
  margin-top: 3px;
}
.font-orange {
  color: #FF881A;
}
